/*-----------------------------------*\

  $MAIN

\*-----------------------------------*/
html {
  font: 112.5%/1.444444444 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #47525d; }
  @media (max-width: 700px) {
    html {
      font-size: 97.75%; } }

